body {
    background-color: lightgrey;
    text-align:center;
    background-image:url("pics/nanaimo_harbour2.jpg");
}
/*main {
    overflow:auto;
    padding-bottom:150px;
}*/

#wrapper{
    width:900px;
    margin: 0 auto;
}

#content{
    background-color:#fff;
    border:2px solid #000;
    height:40px;
    margin-top:40px;
    float:center;
}

#menu{
    float:left; 
    width:100%;
    margin-top:10px;
    border-bottom:none;
    height:80px;
    clear:both;
    font-size:20px;
}
#menu a:hover {
    background-color:#4293AD;
}

#userbar{
    background-color:rgba(0,0,0,0);
    float: right;
    width:275px;
}

.leftpart{
    width:70%;
}

.rightpart{
    width:30%;
}

#footer {
    font-size:70%;
    position: absolute;
    //margin-top:-150px;
    bottom:0;
    height:40px;
    width:900px;
    clear:both;
}

table {
    border-collapse: collapse;
    width:100%;
}

th {
    background-color: rgba(2,3,3,.4);
}

td {
    background-color:rgba(255, 255, 255, .8);
}
